# Arquivos de configuração e histórico do R
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# Arquivos de dados e planilhas
*.xlsx
*.csv

# Pastas de dados pesados e resultados do MaxEnt
rasters/*
maxent_output/*

# Linhas obrigatórias com a exclamação (!) para abrir uma exceção para o arquivo
!rasters/.gitkeep
!maxent_output/.gitkeep